// [Register page ]-------------------------------------------------------
.caf_formContainer{
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center; //take bottom left center
    justify-content: center; //take middle

    .caf_fromWrapper{
        background-color: white;
        padding: 20px 60px; //left+ right and top+ bottom

        border-radius: 10px;
        // now on logo and title 
        display: flex;
        flex-direction: column;
        gap: 10px;
        // align 
        align-items: center;

        .caf_logo{
            color: #5d5b8d;
            font-weight: bold;
            font-size: 24px;
        }
        .caf_title{
            color: #5d5b8d;
            font-size: 15px;
        }

        form{
            display: flex;
            flex-direction: column; // row wise to column wise view 
            gap: 15px; // space between all fields

            //Input filed design
            input{
                padding: 15px;
                border: none;
                width: 250px;
                //bottom border
                border-bottom: 1px solid #a7bcff;

                &::placeholder{
                    color: rgb(175,175,175);
                }
            }
            button{
                background-color: #7b96ec;
                color: white;
                padding: 10px;
                font-weight: bold;
                cursor: pointer;
                border: none;
            }
            // file input 
            label{
                display: flex;
                align-items: center;
                gap: 10px;
                color: #8da4f1;
                font-size: 12px;
                cursor: pointer;
                img{
                    width: 32px;
                }
            }
        }
        p{
            color: #5d5b8d;
            font-size: 12px;
            margin-top: 10px;
        }
    }
}

// [Home page ]-------------------------------------------------------
.caf_home{
    background-color: #a7bcff;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .caf_container{
        border: 1px solid white;
        border-radius: 10px;
        width: 65%;
        height: 80%;
        display: flex;

        // overflow of caf_sidebar background-color 
        overflow: hidden;

        .caf_sidebar{
            flex: 1;
            background-color: #5d5b8d;

            // inside sidebar we have navbar 
            .caf_navbar{
                display: flex;
                align-items: center;
                background-color: #2f2d52;
                height: 50px;
                padding: 10px;

                // space between logo and name/logout 
                justify-content: space-between;
                color: #ddddf7;

                //Logo 
                .caf_logo{
                    font-weight: bold;
                }
                .caf_user{
                    display: flex;
                    gap: 10px;

                    img{
                        background-color: #ddddf7;
                        height: 24px;
                        width: 24px;
                        border-radius: 50%;
                        // to set image properly 
                        object-fit: cover;
                    }
                    button{
                        background-color: #5d5b8d;
                        color: #ddddf7;
                        font-size: 10px;
                        border: none;
                        cursor: pointer;
                    }
                }
                
            }
            // Search 
            .caf_search{
                border: 1px solid gray;

                .caf_searchForm{
                    padding: 10px;
                    input{
                        background-color: transparent;
                        border: none;
                        color: white;
                        outline: none;

                        &::placeholder{
                            color: lightgray;
                        }
                    }
                }
            }
           
             //User Chat
             .caf_userChat{
                padding: 10px;
                display: flex;
                align-items: center;
                gap: 10px;
                color: white;
                cursor: pointer;

                &:hover{
                    background-color: #2f2d52;
                }
                img{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    object-fit: cover;
                }

               .caf_userChatInfo{
                    span{
                        font-size: 18px;
                        font-weight: 500;
                    }
                    p{
                        font-size: 14px;
                        color: lightgray;
                    }
               }

             }

        }
        .caf_chat{
            flex: 2;

            //design
            .caf_chatInfo{
                height: 50px;
                background-color: #5d5b8d;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px;
                color: lightgray;
            }

            //icon
            .caf_chatIcons{
                display: flex;
                gap: 10px;

                img{
                    height: 24px;
                    cursor: pointer;
                }
            }

            //Messages
            .caf_messages{
                background-color: #ddddf7;
                padding: 10px;
                height: calc(100% - 160px); //caf_chatInfo and caf_input 50 + 50 + up down 10 +10 + 10 +10= 70 = 140 + and caf_messages 10 + 10 
                
                overflow-y: scroll;
                &::-webkit-scrollbar {
                    width: 0px;
                }

                //Single Message
                .caf_message{
                    display: flex;
                    gap: 20px;
                    margin-bottom: 20px;

                    .caf_messageInfo{
                        // fix 
                        display: flex;
                        flex-direction: column;
                        color: gray;
                        font-weight: 300;
                        img{
                            width: 40px;
                            height: 40px;
                            object-fit: cover;
                            border-radius: 50%;
                        }
                    }
                    .caf_messageContent{
                        //message column wise break
                        max-width: 80%;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        p{
                            background-color: white;
                            padding: 10px 20px;
                            border-radius: 0px 10px 10px 10px;

                            // fix img issue 
                            max-width: max-content;
                        }
                        img{
                            width: 50%;
                        }
                    }

                    //along with Mesasge css and if its owner
                    &.owner{
                        flex-direction: row-reverse;
                       
                        .caf_messageContent{
                            align-items: flex-end; // so all align end
                            p{
                                background-color: #8da4f1;
                                color: white;
                                border-radius: 10px 0px 10px 10px;
                            }
                        }
                        
                    }
                }
            }

            //send or Input
            .caf_input{
                height: 50px;
                background-color: white;
                padding: 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                //send input field
                input{
                    width: 100%;
                    border: none;
                    outline: none;
                    color: #2f2d52;
                    font-size: 18px;

                    &::placeholder{
                        color: lightgray;
                    }
                }
                .caf_send{
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    img{
                        height: 24px;
                        cursor: pointer;
                    }
                    button{
                        border: none;
                        padding: 10px 15px;
                        color: white;
                        background-color: #8da4f1;
                        cursor: pointer;
                    }
                }
            }

        }

       
        
    }
}